.parent{
    display: flex;
    width: 100px;
    padding: 2%;
    margin: 2%;


}
.parent>.card{
    width: auto;
    padding: 1%;
    margin: 1%;
    border: 2px solid gray;
    text-align: center;
    
}
button{
    color: black;
    background-color: purple;
}
button{
    color:white;
    background-color: green;
}
button{
    color: black;
    background-color: green;
}

    @media only screen and (min-width:320px) and (max-width:480px){
        .parent{
            display: flex;
            flex-direction: column;
        }
        .parent>.card{
            width: 300px;
        }
    }

